<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Lista de Personas </title>

    </head>
    <body>
        <h1> Lista de personas </h1>
    <input type="text" placeholder="buscar...">
        <ul>
            {% for person in person_list %}
            <li> {{person}}</li> 
            {% endfor %}
        </ul>
    </body>
    <footer>
    </footer>
</html>
